<nav>
 <img src="favicon.ico" alt="logo"/>
 <div class="search-bar">
 <input type="text" placeholder="Search a product ..."/>
 <button>Search</button>
</div>
<ul>
    <li>
        <a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Home</a>
    </li>
    <li>
        <a routerLink="/seller" routerLinkActive="active-link">Seller</a>
    </li>
    <li>
        <a routerLink="/login" routerLinkActive="active-link">Login</a>
    </li>
    <li>
        <a routerLink="/cart" routerLinkActive="active-link">Cart(0)</a>
    </li>
   
</ul>
</nav>